
body{
  margin: 0 0 0 0;
  width: 100%;
  background-color: #3B3738;
  transition: all 2s ease;
}

input {
  margin: 8% auto 2% auto;
  display: block;
  font-size: 2em;
  color: #eae0c2;
  border: 2px solid white;
  maxlength: 240;
  width: 80%;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

#attribution {
  font-size: 1.5em;
}

a {
  color: black;
}

a:hover {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: color 200ms ease-out;
  -moz-transition: color 200ms ease-out;
  -o-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

@media (max-width: 800px) {
  input, p {
    font-size: 1.5em;
  }
  #attribution {
    font-size: 1em;
  }
}

input[type="text"] {
  outline: none;
  color: black;
  opacity: 0.6;
}

input[type="text"]:focus {
  outline: none;
  color: black;
  opacity: 0.6;
}

::-webkit-input-placeholder {
   color: black;
   opacity: 0.6;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;
   opacity: 0.6;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;
   opacity: 0.6;
}

:-ms-input-placeholder {
   color: black;
   opacity: 0.6;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 100%;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 0;
}
