
body{
  width: 100%;
  background-color: #2d2e29;
  transition: all 2s ease;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  display: block;
  font-size: 2em;
  color: #eae0c2;
  border: 2px solid white;
  maxlength: 240;
  width: 1000px;
  -webkit-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  -moz-box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  box-shadow: 
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1); 
  padding: 15px;
  background: rgba(255,255,255,0.5);
}

